:root{
    --darkCyan: #19A2AE;
    --lightCyan: #2cc0c6;
    --textColor: #2D3248;
    --subText: #6A6F81;
    --neutralGray: rgba(150, 150, 150, .4);
}

*{
    box-sizing: border-box;
    margin: 0;
    
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.container{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkCyan);
    position: relative;
    overflow: hidden; 
}

.topCircle{
    position: absolute;
    top: -20%;
    left: 10%;
}

.bottomCircle{
    position: absolute;
    bottom: -30%;
    right: 15%;
}

.card{
    position: relative;
    width: 350px;
    height: 375px;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
}

.topCard{
    position: absolute;
    top: 0;
}

.profilePic{
    position: absolute;
    top: 22%;
    border: solid white 5px;
    border-radius: 50%;
    overflow: hidden;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55%;
    font-weight: 700;
    color: var(--textColor);
}

#age{
    font-weight: 400;
    color: var(--subText);
}

.city{
    color: var(--subText);
    font-size: 16px;
    margin: 3% 0 5% 0;
    text-align: center;
}

.middle{
    width: 100%;
    padding-bottom: 5%;
    border-bottom: 1px solid var(--neutralGray);
}

.stats{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    margin-top: 25px;
}

.numbers{
    font-weight: 700;
    color: var(--textColor);
}

.statText{
    color: var(--subText);
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
}