:root{
    --darkCyan: #19A2AE;
    --lightCyan: #2cc0c6;
    --textColor: #2D3248;
    --subText: #6A6F81;
}

*{
    box-sizing: border-box;
    margin: 0;
    
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

.container{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkCyan);
    position: relative;
    overflow: hidden; 
}

.bgCircles{
    border-radius: 50%;
    background-color: var(--lightCyan);
    background-image: linear-gradient(180deg,var(--lightCyan),var(--darkCyan));
    position: absolute;
    width: 1500px;
    height: 1500px;
    top: -55%;
    left: -10%;
    z-index: 1;
}

.bgCirclesBottom{
    border-radius: 50%;
    background-color: var(--lightCyan);
    background-image: linear-gradient(80deg,var(--lightCyan),var(--darkCyan));
    position: absolute;
    width: 1500px;
    height: 1500px;
    top: 55%;
    right: -10%;
    z-index: 1;
}

.card{
    width: 650px;
    height: 600px;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}